@page "/generate/{Type}/{Format}"

@inject NavigationManager NavigationManager
@inject LocalStorageService LocalStorageService
@inject IJSRuntime JSRuntime

<TabHeader Name="@($"Generate {Format}")" />

<div class="main-content grid w-[90vw] gap-2">
    @if (_model is not null)
    {
        <EditForm Model=@_model OnValidSubmit="HandleSubmitAsync">
            <DataAnnotationsValidator />
            <ValidationSummary />
            @foreach (PropertyInfo property in _model.GetType().GetProperties())
            {
                <label class="my-2" for="@property.Name">@property.Name</label>
                if (_model is WiFiModel && property.Name == "EncryptionType")
                {
                    <select class="border-input focus-visible:ring-ring w-[90vw] rounded-xl border bg-[--primary-color] p-2 placeholder-gray-400 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2"
                            @onchange="@((ChangeEventArgs e) => SetValue(_model, property, e.Value))">
                        <option value="WPA/WPA2">WPA/WPA2</option>
                        <option value="WEP">WEP</option>
                    </select>
                }
                else
                {
                    object? propertyValue = property.GetValue(_model);

                    if (property.PropertyType == typeof(DateTime) && propertyValue is not null)
                        propertyValue = ((DateTime)propertyValue).ToString("yyyy-MM-ddTHH:mm");

                    <input class="border-input focus-visible:ring-ring w-[90vw] rounded-xl border bg-[--primary-color] p-2 placeholder-gray-400 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2"
                           type="@GetInputType(property.PropertyType)"
                           value="@propertyValue"
                           step="@(property.PropertyType == typeof(double) || Nullable.GetUnderlyingType(property.PropertyType) == typeof(double) ? "0.000001" : "1")"
                           @onchange="@((ChangeEventArgs e) => SetValue(_model, property, e.Value))" />
                }
            }
            <button class="mt-4 text-2xl p-3 bg-[--primary-color] rounded-xl" type="submit" @ref="_generateButton"
                    @onclick="@(async () => await JSRuntime.InvokeVoidAsync("playButtonAnimation", _generateButton))">
                Generate
            </button>
        </EditForm>
    }
</div>

<TabBar />

@code {
    [Parameter]
    public string? Type { get; set; }

    [Parameter]
    public string? Format { get; set; }

    private IGenerateModel? _model;
    private ElementReference _generateButton;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
            await JSRuntime.InvokeVoidAsync("adjustContentMargin");
    }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        if (string.IsNullOrWhiteSpace(Type) || string.IsNullOrWhiteSpace(Format))
            return;

        _model = Format switch
        {
            "Code128" => new Code128Model(),
            "Code39" => new Code39Model(),
            "Code93" => new Code93Model(),
            "CodaBar" => new CodaBarModel(),
            "Ean13" => new Ean13Model(),
            "Ean8" => new Ean8Model(),
            "Upca" => new UpcaModel(),
            "Upce" => new UpceModel(),
            "I2OF5" => new I2OF5Model(),
            _ => null
        };

        if (_model is not null)
            return;

        _model = Type switch
        {
            "Text" => new TextModel(),
            "Url" => new UrlModel(),
            "Email" => new EmailModel(),
            "WiFi" => new WiFiModel(),
            "GeographicCoordinates" => new GeographicCoordinatesModel(),
            "ContactInfo" => new ContactInfoModel(),
            "CalendarEvent" => new CalendarEventModel(),
            "Phone" => new PhoneModel(),
            "Sms" => new SmsModel(),
            _ => new TextModel()
        };
    }

    private string GetInputType(System.Type propertyType)
    {
        System.Type type = Nullable.GetUnderlyingType(propertyType) ?? propertyType;

        return type.Name switch
        {
            "String" => "text",
            "UInt64" or "Double" => "number",
            "DateTime" => "datetime-local",
            _ => "text",
        };
    }

    private void SetValue(object model, PropertyInfo property, object? value)
    {
        if (string.IsNullOrWhiteSpace(value?.ToString()))
            property.SetValue(model, null);
        else
        {
            try
            {
                System.Type propertyType = Nullable.GetUnderlyingType(property.PropertyType) ?? property.PropertyType;
                property.SetValue(model, Convert.ChangeType(value, propertyType));
            }
            catch
            {
                return;
            }
        }
    }

    private async Task HandleSubmitAsync()
    {
        string id = await LocalStorageService.SaveQRAsync(_model!.GetValue(), Type!, Format!, "Generated");

        NavigationManager.NavigateTo($"/details/{id}");
    }
}
